@{
    Layout = null;
}
<div class="zhanshi">
    <div class="title">
        <ul id="tabs">
            <li style="background:#5f6870"><a href="product.html" class="tab">创意阳光生产实力展示</a></li>
            <li style="background:#da251c"><a href="product.html" class="tab">创意阳光办公展示</a></li>
            <li style="background:#838280"><a href="product.html" class="tab">创意阳光员工风采</a></li>
        </ul>
    </div>
    <div class="tab_box">
        <ul id="tab_conbox">
            <li>
                <div class="more1"><a href="product.html"><img src="/images/home/more1.jpg"></a></div>
                <div class="zhanshitupian">
                    <ul>

                        <li>
                            <div class="cp_img"><a href="productDetial-155.html" title="高级树脂三面发光字"><img src="/Images/home/zhanshiImages_1.jpg" onload="DrawImage(this,359,196)" alt="高级树脂三面发光字"></a></div>
                            <div class="cp_name"><a href="productDetial-155.html">高级树脂三面发光字</a></div>

                        </li>

                        <li>
                            <div class="cp_img"><a href="productDetial-154.html" title="高级通体三面发光字"><img src="/Images/home/zhanshiImages_2.jpg" onload="DrawImage(this,359,196)" alt="高级通体三面发光字"></a></div>
                            <div class="cp_name"><a href="productDetial-154.html">高级通体三面发光字</a></div>

                        </li>

                        <li>
                            <div class="cp_img"><a href="productDetial-153.html" title="高级亚克力三面发光字"><img src="/Images/home/zhanshiImages_3.jpg" onload="DrawImage(this,359,196)" alt="高级亚克力三面发光字"></a></div>
                            <div class="cp_name"><a href="productDetial-153.html">高级亚克力三面发光字</a></div>

                        </li>

                        <li class="no_mar">
                            <div class="cp_img"><a href="productDetial-152.html" title="树脂三面发光字"><img src="/Images/home/zhanshiImages_4.jpg" onload="DrawImage(this,359,196)" alt="树脂三面发光字"></a></div>
                            <div class="cp_name"><a href="productDetial-152.html">树脂三面发光字</a></div>

                        </li>


                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>
