@{
    Layout = null;
}
<div class="classic_case_head">
    <div class="classic_case_title bgcolor_title_head">
        经典案例
    </div>
    <div class="classic_case_more">更多+</div>
    <div style="clear:both;"></div>
</div>