@using SunShine.EF;
@using SunShine.Model;
@using SunShine.Utils;
@using SunShine.Web.Utils;
@model List<ArticleViewModel>
@{
    ViewBag.Title = "创意阳光";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string currentCategoryCode = ViewData["currentCategoryCode"].ToString();
    List<SiteCategory> navPath = (List<SiteCategory>)ViewData["navPath"];
    var pageCount = Convert.ToInt32(ViewData["pageCount"]);
    var pageIndex = Convert.ToInt32(ViewData["pageIndex"]);
}
<div class="case_box">
    <div class="case_left">
        @{
            Html.RenderAction("NavSuccessCases", "Parts", new { categoryCode = Request["categoryCode"], currentCategoryCode=Request["currentCategoryCode"] });
            Html.RenderAction("NavHonors", "Parts");
            Html.RenderAction("NavContactUs", "Parts");
        }
    </div>
    <div class="case_right">
        <div class="case_nav">
            <div class="case_nav_icon"></div>
            <div class="case_nav_title">
                您现在的位置:
                @for (int i = 0; i < navPath.Count; i++) {

                    ViewBag.Title += navPath[i].categoryname+" ";
                    if (i == 0) {
                        <span>@navPath[i].categoryname&nbsp;</span>
                        }
                    else {
                        <span>
                            >&nbsp;@navPath[i].categoryname
                        </span>
                    }
                }
            </div>
        </div>
        <div style="clear:both;"></div>
        <div class="case_list">
            @if (Model.Count == 1 && pageIndex == 0) {
                Html.RenderPartial("_CaseItemPartial", Model.First());
            }
            else {
                if (currentCategoryCode == "serviceflow" || currentCategoryCode == "honor") {
                    Html.RenderPartial("_CaseFloatListItemsPartial", Model);
                }
                else {
                    Html.RenderPartial("_CaseListItemsPartial", Model);
                }
            }
            
        </div>
        <div class="sunshine_pager">
            @Html.Raw(Url.BootstrapPagerHTML(pageCount, pageIndex, "Index", "Case", ViewContext.RouteData.Values))
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
@{
    Html.RenderAction("HotSale", "Parts");
    Html.RenderPartial("_PartnerHeader");
    Html.RenderAction("Partner", "Parts");
    Html.RenderPartial("_HistoryBannerPartial", null);
    Html.RenderPartial("_CustomizeFlowPartial", null);
    Html.RenderAction("InstroductionCompany", "Parts");
}
