@{ 
    Layout = null;
}
<div class="hot_sale_product">
    <div class="hot_sale_product_head">
        <div class="hot_sale_product_title bgcolor_title_head">
            热卖产品推荐
        </div>
        <div class="hot_sale_product_more">更多+</div>
        <div style="clear:both;"></div>
    </div>
    <div class="hot_sale_product_list">
        <div class="hot_sale_product_item" style="margin-left:0px;">
            <div class="hot_sale_product_img">
                <img src="@Url.Content("~/Resource/Images/Product/hotsalepro.jpg")" />
            </div>
            <div class="prodesc">
                <div class="pro_title">不锈钢包边发光字</div>
                <div class="pro_level">推荐指数</div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="hot_sale_product_item">
            <div class="hot_sale_product_img">
                <img src="@Url.Content("~/Resource/Images/Product/hotsalepro.jpg")" />
            </div>
            <div class="prodesc">
                <div class="pro_title">不锈钢包边发光字</div>
                <div class="pro_level">推荐指数</div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="hot_sale_product_item">
            <div class="hot_sale_product_img">
                <img src="@Url.Content("~/Resource/Images/Product/hotsalepro.jpg")" />
            </div>
            <div class="prodesc">
                <div class="pro_title">不锈钢包边发光字</div>
                <div class="pro_level">推荐指数</div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>