@{
    Layout = null;
}

<div class="partner">
    <div class="content1">
        <div class="case_t"></div>
        <div class="content1_left" id="left"><img src="~/Images/home/fgz_19.jpg" /></div>
        <div class="kehu">
            <ul id="center">

                <li onload="SuchImage(this,193,118)">
                    <div class="hezuo">
                        <img src="~/Images/home/dekeshi.jpg" alt="" />
                        <h2>为德克士连锁门头发光字制作</h2>
                        <img src="~/Images/home/xian_1.jpg" />
                        <p>今天,有幸为德克士连锁加盟店制作门头发光字,德克士在武汉有50家加盟店,今天我公司在汉口区域所有加盟店制作门头发光字,安装完后,客户反应效果很</p>
                        <div class="gengduo"><a href="productDetial-155.html">更多</a></div>
                    </div>

                </li>

                <li onload="SuchImage(this,193,118)">
                    <div class="hezuo">
                        <img src="~/Images/home/giant.jpg" alt="" />
                        <h2>为德克士连锁门头发光字制作</h2>
                        <img src="~/Images/home/xian_1.jpg" />
                        <p>今天,有幸为德克士连锁加盟店制作门头发光字,德克士在武汉有50家加盟店,今天我公司在汉口区域所有加盟店制作门头发光字,安装完后,客户反应效果很</p>
                        <div class="gengduo"><a href="productDetial-155.html">更多</a></div>
                    </div>

                </li>
                <li onload="SuchImage(this,193,118)">
                    <div class="hezuo">
                        <img src="~/Images/home/yijiaren.jpg" alt="" />
                        <h2>为德克士连锁门头发光字制作</h2>
                        <img src="~/Images/home/xian_1.jpg" />
                        <p>今天,有幸为德克士连锁加盟店制作门头发光字,德克士在武汉有50家加盟店,今天我公司在汉口区域所有加盟店制作门头发光字,安装完后,客户反应效果很</p>
                        <div class="gengduo"><a href="productDetial-155.html">更多</a></div>
                    </div>

                </li>
                <li onload="SuchImage(this,193,118)">
                    <div class="hezuo">
                        <img src="~/Images/home/hailanzhijia.jpg" alt="" />
                        <h2>为德克士连锁门头发光字制作</h2>
                        <img src="~/Images/home/xian_1.jpg" />
                        <p>今天,有幸为德克士连锁加盟店制作门头发光字,德克士在武汉有50家加盟店,今天我公司在汉口区域所有加盟店制作门头发光字,安装完后,客户反应效果很</p>
                        <div class="gengduo"><a href="productDetial-155.html">更多</a></div>
                    </div>

                </li>



            </ul>
        </div>
        <div class="content1_right" id="right"><img src="~/Images/home/fgz_20.jpg" /></div>
    </div>
</div>
