@using SunShine.Model;
@{
    ViewBag.Title = "创意阳光首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductViewModel> hotProducts = (List<ProductViewModel>)ViewData["hotProducts"];
    List<ProductViewModel> newProducts = (List<ProductViewModel>)ViewData["newProducts"];
}
<div class="daohangbeijing">
    <div class="wrap">
        <div class="cp_left">
           @{ 
               Html.RenderAction("LeftProductCategory", "Parts");
           }

        </div>
        <div class="cp_right">
            <div class="title">
                <ul id="tabs">
                    <li class="title_PopularProduct" style="background:#da251c"><a href="" class="tab">热销产品</a></li>
                    <li class="title_NewestProduct" style="background:#5f6870"><a href="" class="tab">最新产品</a></li>
                </ul>
            </div>
            <div class="tab_box">
                <ul id="tab_conbox">
                    <li class="PopularProduct">
                        <div class="more1"><a href="@Url.Action("List", "Product")"><span style="font-size:17px;font-weight:500;font-family:'Microsoft YaHei'">More +</span>&nbsp;&nbsp;<img src="~/images/home/more1.jpg"></a></div>
                        @{ 
                            Html.RenderPartial("_ProductItemPartial", hotProducts);
                        }
                    </li>
                    <li class="NewestProduct" style="display:none;">
                        <div class="more1"><a href="product.html"><span style="font-size:17px;font-weight:500;font-family:'Microsoft YaHei'">More +</span>&nbsp;&nbsp;<img src="~/images/home/more1.jpg"></a></div>
                        @{
                            Html.RenderPartial("_ProductItemPartial", newProducts);
                        }
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<br /> 
<div style="width:1444px;margin:0px auto;">
    @{ 
        Html.RenderAction("CaseListItemsScroll", "Parts");
    }
    <br />
    <div class="picture_center"><img src="~/Images/home/xuchuan_1.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/danxinweti_1.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/danxin_2.jpg" /></div>
    <br />
</div>

@{ 
    Html.RenderAction("CoreAdvance", "Parts");
    Html.RenderPartial("_HistoryBannerPartial", null);
    Html.RenderPartial("_CustomerSupportTitlePartial", null);
    Html.RenderAction("Partner", "Parts");
    Html.RenderPartial("_CustomizeFlowPartial", null);
    Html.RenderAction("InstroductionCompany", "Parts");
}


    <div class="news">
        <div class="news_center">
                @{ 
                    Html.RenderAction("NavNews","Parts");
                }
                 <div class="yiny"><img src="~/Images/home/fgz_59.jpg"></div> 
                @{
                    Html.RenderAction("NavQuestions", "Parts");
                }
                <div style="clear:both;"></div>
</div>
    </div>



  
   