@using SunShine.Model;
@{
    ViewBag.Title = "创意阳光首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ProductViewModel> hotProducts = (List<ProductViewModel>)ViewData["hotProducts"];
    List<ProductViewModel> newProducts = (List<ProductViewModel>)ViewData["newProducts"];
}
<div class="daohangbeijing">
    <div class="wrap">
        <div class="cp_left">
           @{ 
               Html.RenderAction("LeftProductCategory", "Parts");
           }

        </div>
        <div class="cp_right">
            <div class="title">
                <ul id="tabs">
                    <li style="background:#5f6870"><a href="product.html" class="tab">热销产品</a></li>
                    <li style="background:#da251c"><a href="product.html" class="tab">最新产品</a></li>
                </ul>
            </div>
            <div class="tab_box">
                <ul id="tab_conbox">
                    <li>
                        <div class="more1"><a href="@Url.Action("List","Product")"><img src="~/images/home/more1.jpg"></a></div>
                        @{ 
                            Html.RenderPartial("_ProductItemPartial", hotProducts);
                        }
                    </li>
                    <li style="display:none;">
                        <div class="more1"><a href="product.html"><img src="images/more1.png"></a></div>
                        @{
                            Html.RenderPartial("_ProductItemPartial", newProducts);
                        }
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<br /> 
<div style="width:1444px;margin:0px auto;">
    <div class="picture_center"><img src="~/Images/home/fuwubiaoyu_1.jpg" /></div>
    <br />
    <div class="gundongbejing">
        <div class="gundongxiaoguo"  >
            <ul>
                <li><a href=""><img src="~/Images/home/hezuohuoban_1.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_2.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_3.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_2.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_1.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_1.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_1.jpg" /></a></li>
                <li><a href=""><img src="~/Images/home/hezuohuoban_1.jpg" /></a></li>
            </ul>
        </div>
    </div>
    <br />
    <div class="picture_center"><img src="~/Images/home/xuchuan_1.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/danxinweti_1.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/danxin_2.jpg" /></div>
    <br />
    <div class="picture_center"><img src="~/Images/home/hexinyoushi_1.jpg" /></div>
</div>

<div class="kanshi_waiceng">
    <div class="decription_text">
        <div class="decription_kanshi"><p>11年发光字经验,2389家企事业单位的信赖</p></div>
    </div>

    <div class="kanshi_neiceng">
        <div class="images_tupian">
            <img src="~/Images/home/kanshili_1.jpg" />
        </div>
        <div class="miaoshu">
            <ul>
                <li><img src="~/Images/home/hongsejiantou.jpg"/>12名优秀设计师,针对不同需求,量身定制不同解决方案</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" />厂区3300平方,50多名车间工人,拥有国内先进工艺</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" />下设切割车间,焊接车间,烤漆车间,雕刻车间,UV打印车间</li>
            </ul>
            <a href=""><img src="~/Images/home/chakangengduo_1.JPG"></a>           
        </div>
        <div class="shilizhashi_text"><p>质量过硬,是我们的核心优势</p></div>

    </div>

    <div class="kanzhiliang">
        <div class="miaoshu">
            <ul>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>均匀：</span>采用进口亚克力，不发黄，透光均匀，让广告字发光均匀无暗区</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>高亮：</span>采用进口大芯片，高亮度光源,发光面亮度可达500-1500cd</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>节能: </span>采用LED光源，每颗点耗电仅0.1W，相当于传统霓虹灯十分之一</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>安全：</span>直流12伏(pc12v),低电压工作,对人身安全不造成伤害</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>长寿: </span>LED灯长达10-20万小时超长寿命，发热低，使用寿命长</li>
            </ul>
            <a href=""><img src="~/Images/home/chakangengduo_1.JPG"></a>
        </div>
        <div class="images_tupian">
            <img src="~/Images/home/kanshili_2.jpg" />
        </div>
        <div class="kanzhiliang_text"><p>设计、制作、安装一条龙服务</p></div>
    </div>

    <div class="kanxingjiabi">
        
            <div class="images_tupian">
                <img src="~/Images/home/kanshili_3.jpg" />
            </div>
            <div class="miaoshu">
                <ul>
                    <li><img src="~/Images/home/hongsejiantou.jpg" />免费上门测量尺寸,免费设计效果图,免费策划解决方案</li>
                    <li><img src="~/Images/home/hongsejiantou.jpg" />工厂价格直接对客户,省去中间商,降低客户成本</li>
                    <li><img src="~/Images/home/hongsejiantou.jpg" />五年之内出现质量问题,包修,包换,终身免费售后</li>
                </ul>
                <a href=""><img src="~/Images/home/chakangengduo_1.JPG"></a>
            </div>
        <div class="kanxingjiabi_text"><p>按时保质保量完成供货,全程放心无忧</p> </div>
  </div>

    <div class="kanshouhou">
        <div class="miaoshu">
            <ul>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>均匀：</span>采用进口亚克力，不发黄，透光均匀，让广告字发光均匀无暗区</li>
                <li><img src="~/Images/home/hongsejiantou.jpg" /><span>高亮：</span>采用进口大芯片，高亮度光源,发光面亮度可达500-1500cd</li>
            </ul>
            <a href=""><img src="~/Images/home/chakangengduo_1.JPG"></a>
            <div class="telephone_yellow">
                <img src="~/Images/home/telephone_yellow.jpg" />
            </div>
        </div>
        <div class="images_tupian">
            <img src="~/Images/home/kanshili_4.jpg" />
        </div>
    </div>

</div>

@{ 
    Html.RenderPartial("_HistoryBannerPartial", null);
    Html.RenderPartial("_CustomerSupportTitlePartial", null);
    Html.RenderAction("Partner","Parts");
    Html.RenderPartial("_CustomizeFlowPartial", null);
    Html.RenderPartial("_InstroductionCompanyPartial", null);
}


    <div class="news">
        <div class="news_center">
                <div class="xw">
                    <div class="news_t">
                        <ul>
                            <!--  <li class="xuanz"><a href="JavaScript:;">媒体报道</a></li> -->
                            <li class="no1"><a href="JavaScript:;">媒体报道</a></li>
                        </ul>
                        <div class="more"><a href="news.html" id="news_links"><img src="~/Images/home/more_2.jpg"></a></div>
                    </div>
                    <div class="content4">

                        <div class="shang">
                            <div class="tutu"><a href="article-207.html" title=""><img src="~/Images/home/meitibaodao_1.jpg" alt="" onload="DrawImage(this,120,102)" style="width:230px; height:141px; margin-left: -7.68143px;"></a></div>
                            <div class="right_news">
                                <p><a href="article-207.html">我公司为顺天德酒楼制作安装发光字</a></p>
                                <span><a href="article-207.html">今天,接到顺天德陈总打来电话,要求为他的酒楼设计制作发光字<br />陈总因为以前就跟我们公司合作过,所以现在特别信赖我们公司的产品......<br /><div style="color:red">了解更多</div></a></span>
                            </div>
                        </div>


                        <div class="xia">
                            <ul>

                                <li><img src="~/Images/home/jiantou_3.jpg"><a href="article-205.html"><span>2016-09-01</span>武汉创意阳光广告公司为肯德基设计制作发光字</a></li>

                                <li><img src="~/Images/home/jiantou_3.jpg"><a href="article-203.html"><span>2016-10-05</span>楼顶发光字的效果不错,得到客户的一致认可,客户再次下单制作</a></li>

                                <li><img src="~/Images/home/jiantou_3.jpg"><a href="article-201.html"><span>2016-10-24</span>武汉创意阳光广告公司为肯德基设计制作发光字</a></li>

                                <li><img src="~/Images/home/jiantou_3.jpg"><a href="article-198.html"><span>2016-10-25</span>武汉大洋百货购物广场迷你发光字全部是我公司制作安装</a></li>

                                <li><img src="~/Images/home/jiantou_3.jpg"><a href="article-189.html"><span>2016-10-30</span>武汉创意阳光广告公司为肯德基设计制作发光字</a></li>

                                <li><img src="~/Images/home/jiantou_3.jpg"><a href="article-186.html"><span>2016-11-01</span>武汉创意阳光广告公司为肯德基设计制作发光字</a></li>


                            </ul>
                        </div>
                    </div>
                </div>

                 <div class="yiny"><img src="~/Images/home/fgz_59.jpg"></div> 
                <div class="wt">
                    <div class="news_tt">
                        <div class="news_t2"><a href="common.html">常见问题</a></div>
                        <div class="more"><a href="common.html"><img src="~/Images/home/more_2.jpg"></a></div>
                    </div>

                    <div class="youshang">
                        <div class="tutu"><a href="article-207.html" title=""><img src="/Images/home/qiaojiangnan_1.jpg" alt="" onload="DrawImage(this,120,102)" style="width:230px; height:141px; margin-left: -7.68143px;"></a></div>
                        <div class="right_news">
                            <p><a href="article-207.html">我公司为顺天德酒楼制作安装发光字</a></p>
                            <span><a href="article-207.html">今天,接到顺天德陈总打来电话,要求为他的酒楼设计制作发光字<br>陈总因为以前就跟我们公司合作过,所以现在特别信赖我们公司的产品......<br><div style="color:red">了解更多</div></a></span>
                        </div>
                    </div>

                    <div class="wenti_box">
                        <ul>

                            <li>
                                <div class="datetime">2016-09-01</div>
                                <div class="wenben">高分子亚克力雕刻，由高分子亚克板材正反面雕刻成型的新型发光字,四边有烤漆,外观效果十分精美雅致,美观醒目又色彩鲜明还具有小巧高贵,时尚靓丽的特点 <br />超高亮模组灯,高品质原厂蛇缠LED模组灯带，更广寿命达到50000+小时,厂家月销售10万件0退货,夜间发光均匀,柔和饱满,亮光不刺眼</div>
                            </li>


                            <li>
                                <div class="datetime">2016-09-01</div>
                                <div class="wenben">高分子亚克力雕刻，由高分子亚克板材正反面雕刻成型的新型发光字,四边有烤漆,外观效果十分精美雅致,美观醒目又色彩鲜明还具有小巧高贵,时尚靓丽的特点 <br />超高亮模组灯,高品质原厂蛇缠LED模组灯带，更广寿命达到50000+小时,厂家月销售10万件0退货,夜间发光均匀,柔和饱满,亮光不刺眼</div>
                            </li>


                            <li>
                                <div class="datetime">2016-09-01</div>
                                <div class="wenben">高分子亚克力雕刻，由高分子亚克板材正反面雕刻成型的新型发光字,四边有烤漆,外观效果十分精美雅致,美观醒目又色彩鲜明还具有小巧高贵,时尚靓丽的特点 <br />超高亮模组灯,高品质原厂蛇缠LED模组灯带，更广寿命达到50000+小时,厂家月销售10万件0退货,夜间发光均匀,柔和饱满,亮光不刺眼</div>
                            </li>


                        </ul>
                    </div>
                </div>
                <div style="clear:both;"></div>
</div>
    </div>


<script type="text/javascript">
    $(document).ready(function () { $(".gundongxiaoguo").imgscroll({ speed: 40, amount: 0, width: 2, dir: "left" }); });

    $(document).ready(function () { $(".wenti_box").imgscroll({ speed: 40, amount: 0, width: 2, dir: "up" }); });




        $.fn.imgscroll = function (o) {
            var defaults = {
                speed: 40,
                amount: 30,
                width: 1,
                dir: "up"
            };
            o = $.extend(defaults, o);

            return this.each(function () {
                var _li = $("li", this);
                _li.parent().parent().css({ overflow: "hidden", position: "relative" }); //div
                _li.parent().css({ padding: "0", overflow: "hidden", position: "relative", "list-style": "none" }); //ul
                _li.css({ position: "relative", overflow: "hidden" }); //li
                if (o.dir == "left") _li.css({ float: "left" });

                //初始大小
                var _li_size = 0;
                for (var i = 0; i < _li.size(); i++)
                    _li_size += o.dir == "left" ? _li.eq(i).outerWidth(true) : _li.eq(i).outerHeight(true);

                //循环所需要的元素
                if (o.dir == "left") _li.parent().css({ width: (_li_size * 3) + "px" });
                _li.parent().empty().append(_li.clone()).append(_li.clone()).append(_li.clone());
                _li = $("li", this);

                //滚动
                var _li_scroll = 0;
                function goto() {
                    _li_scroll += o.width;
                    if (_li_scroll > _li_size) {
                        _li_scroll = 0;
                        _li.parent().css(o.dir == "left" ? { left: -_li_scroll} : { top: -_li_scroll });
                        _li_scroll += o.width;
                    }
                    _li.parent().animate(o.dir == "left" ? { left: -_li_scroll} : { top: -_li_scroll }, o.amount);
                }

                //开始
                var move = setInterval(function () { goto(); }, o.speed);
                _li.parent().hover(function () {
                    clearInterval(move);
                }, function () {
                    clearInterval(move);
                    move = setInterval(function () { goto(); }, o.speed);
                });
            });
        };


</script>
  
   